#html, body{
  padding: 0;
  margin: 0;
  height: 100%;

}

body{
 background-color: #171717;
}

#maincontent {
    color: white;
    margin-left: auto;
    margin-right: auto;
    display: grid;
}

#text {
 font-size: large;
}

#links a {
   color:white;
    text-decoration: underline green ;
    
    transition: color 0.5s ease;
}

#links a:hover {
    color: darkgreen;
}

#title{
  font-size: xx-large;
}

#sidecontent {
    font-size: large;
      color: white;
    margin-left: auto;
    margin-right: auto;
    display: grid;

}

