body{
    background-color: rgb(0, 31, 0);
       color: white;
    display: flex;
    align-items: center;
    justify-content: center;
   

}
#wholeIdea{
    text-align: center;
}
#bigText{
    font-size: xxx-large;

  
}

#smallText{
    font-size: xx-large;

    opacity: 60%;
}

#yourName{
   text-align: center;
   size-adjust: inherit;
   background-color: black;
   text-decoration-color: green;
   color: green;
   padding:10px;
   border-radius: 3px ;
   border-color: silver;
}

#yourEmail{
   text-align: center;
   size-adjust: inherit;
   background-color: black;
   text-decoration-color: green;
   color: green;
    padding:10px;
   border-radius: 3px ;
   border-color: silver;
}

#yourText{
   text-align: start;
   size-adjust: inherit;
   background-color: black;
   text-decoration-color: green;
   color: green;
   display: inline-block;
    width: 150px;
    padding-inline-start: 150px;
    padding:150px;
   border-radius: 3px ;
   border-color: silver;
}

#send{
       text-align: center;
   size-adjust: inherit;
    padding: 10px;
    padding-inline: 90px;
background-color: black;
   text-decoration-color: green;
   color: green;
}