
:root{
    
    --button-bg-color: #171717;
    --border-radius: 0.375em;
    --blob-width: 32rem;
    --blob-height: 16rem;
    --maincontent-width: 24rem;
    --maincontent-height: 14rem;
}



#html, body{
  padding: 0;
  margin: 0;
  height: 100%;

}

body{
 background-color: var(--button-bg-color);
    display: flex;
    align-items: center;
    justify-content: center;
    
}


#maincontent {
    color: white;
    width: var(--maincontent-width);
    height: var(--maincontent-height);
    margin-left: auto;
    margin-right: auto;
    display: grid;
    top:50%;
    left:50%;
      transform: translate(0%, 60%);

    grid-template-columns: repeat(4, 1fr) 2fr;
    grid-template-rows: repeat(6, 1fr);
    border: 8px solid black;
    border-radius: 2%;
    animation: bounceOut 0.4s ease-in;
}


#maincontent::after{
    opacity: 0;
    
    content:"";
    position:absolute;

    width: 32rem;
    height: 16rem;
    
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);

    background: radial-gradient(
    ellipse at center,
       rgba(100, 100, 100, 0.8),
       rgba(100, 100, 100, 0.6),
       rgba(100, 100, 100, 0.4));
    filter: blur(70px);
    
    z-index: -1;
    
    transition: opacity 0.5s ease;
}

#maincontent:hover::after{
opacity: 1;
 background: radial-gradient(
    ellipse at center,
    rgba(255, 100, 100, 0.8),
    rgba(100, 255, 100, 0.6),
    rgba(100, 100, 255, 0.4));
}

#ProfileImage {
    grid-column: span 4;
    grid-row: span 5;
    position: relative;
}

#ProfileImage{
 
 width: 100%;
 height: 100%;
 margin: -1.5px;
 filter: grayscale();
 transition: filter 0.5s ease;
     border: 1px solid black;
    border-radius: var(--border-radius) 0 0 0;

    overflow: hidden;
    animation: bounceOut 0.4s ease;
    
    
}

#ProfileImage:hover{
    filter:none;
}

#name {
    opacity: 0;
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translate(-50%, -50%);
    background-color: rgba(25, 25, 25, 0.6);
    border-radius: 50px;
    border: 1px solid black;
    padding: 0.4em;
    transition: all 0.4s ease;
}

#profile-img:hover #name {
    top: 85%;
    color: peachpuff;
}


#navigation{ 
   
 grid-column: span 1;
    grid-row: span 6;
    display: grid;
    text-align: center;
    align-items: center;
    

}

#navigation ul {
    font-size: large;
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;

}



#navigation li {
    color:white;
    flex: 1;
    align-items: center;
    justify-content: center;
    display: flex;
    font-family: roboto;
    
    font-size: 1.05em;
    text-decoration: none;
    color: inherit;
    transition: color 0.5s ease;

    border: 5px solid black;
    margin: -2.5px;
    border-radius: 5%;


    
}

#navigation li:hover{
    color: cyan;
}

#navigation a{
    color:white;
    text-decoration: none;
}


#navigation a:hover {
    color: cyan;
}

#navigation li:first-child{
     border-radius: 0 5% 0 0;
}



#navigation li:last-child{
     border-radius: 0 0 5% 0;
}



#social-media{
    align-items: center;
    display: flex;
    grid-column: span 4;
    grid-row: span 1;
    justify-content: space-evenly;
    background-color: green;

}

#social-media-btn{
    color:#171717;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #171717;
    border: 3px solid black;

}

#social-media-btn:hover{
  color:aquamarine;
}

#social-media .social-media-btn:first-child{
    border-radius: 0 0 0 5%;
}    

@keyframes bounceOut {
    0% {
        transform: scale(0.25);
    }

    65% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}



@media(max-width: 480px)
{

#maincontent{
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(12, 1fr);

  width: var(--maincontent-height);
  height: var(--maincontent-width);
}

#maincontent::before{
    width: var(--blob-height);
    height: var(--blob-width);
}

#maincontent::after{
    width: var(--blob-width);
    height: var(--blob-height);
}


#ProfileImage{
  grid-row-start: 1;
  grid-row-end: 5;
  grid-row: span 1;
  
}

#social-media{
 grid-row-start: 6;
 grid-row-end: 6;
}

#navigation{ 
    
    grid-row-start:  7;
    grid-row-end: 12;
    grid-column: span 4;
}
}